.gradle
/build
/app/build
local.properties
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild
.cxx
google-services.json
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/vcs.xml
.idea/deploymentTargetDropDown.xml
.idea/modules/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
/captures/
*.keystore
!debug.keystore
proguard/
/screenshots/
/app/src/test/java/
/app/src/androidTest/java/
*.log
.last_build_id
